
<nav class="navbar navbar-light sticky-top navbar-expand-md navbar-collapse-sm bg-light">
  <a class="navbar-brand" id="brand-picross" href="#" translate>HEADER.title</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/random" translate>HEADER.random</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chrono" [translate]="'HEADER.timeTrial'" ></a>
          </li>
          <li>
      </ul>

      <button class="btn" (click)="callChangeLang('en')">en</button>
      <button class="btn" (click)="callChangeLang('fr')">fr</button>
  </div>
</nav>

