.answer-hidden{
    display: none;
}
.answer-shown{
    display: block;
}
#answer-module div{
    left:50%;
}
#footer{
    display: flex;
}
#footer div {
    padding:10px;
}
.error{
    background-image: url('../../assets/croix.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    filter: grayscale(0%);
}
.empty{
    background-image: url('../../assets/croix.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    filter: grayscale(100%);
}
.indic-result{
    margin: 0 8px;
}