<div class="explanationBlock container">
  <div>
    <h3>{{ 'EXPLANATION.title' | translate }}</h3>
    <p class="center">{{ 'EXPLANATION.basis' | translate }}</p>
    <div class="imgCompleted">
      <img  src="../../assets/picrossexpl5.png" alt="a completed grid" />
    </div>
  </div>
  <div>
    <h4>{{ 'EXPLANATION.method' | translate }}</h4>
    <p>{{ 'EXPLANATION.line' | translate }}</p>
    <div class="imgCompleted">
      <img  src="../../assets/picrossexpl1.png" alt="basic gameplay" />
    </div>
  </div>
  <div>
    <h4>{{ 'EXPLANATION.tipTitle' | translate }}</h4>
    <p>{{ 'EXPLANATION.tip1' | translate }}</p>
    <div class="imgCompleted">
      <img  src="../../assets/picrossexpl3.png" alt="use of cross to help" />
    </div>
    <p>{{ 'EXPLANATION.tip2' | translate }}</p>
    <div class="imgCompleted">
      <img  src="../../assets/picrossexpl2.png" alt="check button, used once" />
    </div>
    <p>{{ 'EXPLANATION.tip3' | translate }}</p>
    <div class="imgCompleted">
      <img class="too-long" src="../../assets/picrossexpl4.png" alt="start with safe completion" />
    </div>
    <p>{{ 'EXPLANATION.tip4' | translate }}</p>
    <p>{{ 'EXPLANATION.tip5' | translate }}</p>
  </div>
</div>