<div class="explanationBlock container">
  <div>
    <h3>{{ 'EXPLANATION.title' | translate }}</h3>
    <p class="center">{{ 'EXPLANATION.basis' | translate }}</p>
    <img class="imgCompleted" src="../../assets/picrossexpl5.png" alt="a completed grid" />
  </div>
  <div>
    <h4>{{ 'EXPLANATION.method' | translate }}</h4>
    <p>{{ 'EXPLANATION.line' | translate }}</p>
    <img class="imgCompleted" src="../../assets/picrossexpl1.png" alt="basic gameplay" />
  </div>
  <div>
    <h4>{{ 'EXPLANATION.tipTitle' | translate }}</h4>
    <p>{{ 'EXPLANATION.tip1' | translate }}</p>
    <img class="imgCompleted" src="../../assets/picrossexpl3.png" alt="use of cross to help" />
    <p class="right">{{ 'EXPLANATION.tip2' | translate }}</p>
    <img class="imgCompleted" src="../../assets/picrossexpl2.png" alt="check button, used once" />
    <p>{{ 'EXPLANATION.tip3' | translate }}</p>
    <img class="imgCompleted"  src="../../assets/picrossexpl4.png" alt="start with safe completion" />
  </div>
</div>