<div>
  <label id="size"> Taille : 
<!-- <input class="space-input" [(ngModel)]="this.difficulty" placeholder="difficulty"/> -->
    <select class="form-control" [(ngModel)]="this.difficulty" >
      <option *ngFor="let x of [5,10,15,20]" [ngValue]="x">{{x}}</option>
    </select>
  </label>
  <button (click)="generate()" type="button" class="upper-bar btn btn-default btn-sm">
    <span class="glyphicon glyphicon-refresh"></span> Recharger
  </button>
</div>

<!--
<div>
  <input class="space-input" [(ngModel)]="this.filename" placeholder="grid.json"/>
  <button (click)="open()" type="button" class="upper-bar btn btn-default btn-sm">
    <span class="glyphicon glyphicon-download"></span> Ouvrir
  </button>
  <input class="space-input" [(ngModel)]="this.filename" placeholder="grid.json"/>
  <button (click)="save()" type="button" class="upper-bar btn btn-default btn-sm">
    <span class="glyphicon glyphicon-upload"></span> Sauvegarder
  </button>
</div>
-->
<div class='grille' (mouseup)="clicked=false" (mouseleave)="clicked=false">
    <div class='ind_col'>
      <div class='ind_col_case' *ngFor="let indCol of grille.ind_col; let c=index;">
        <div [ngClass]="grille.mark_ind_col[c] ? 'completed' : 'to-complete' " *ngFor="let ind of indCol">
          {{ind}}
        </div>
      </div>
    </div>
  
  <!--<table (mouseout)="clicked=false" (mouseup)="clicked=false"> -->
  <table  >
    <tr class='row_p' *ngFor="let picrossRow of grille.played; let i=index">
      <td class='ind_row' [ngClass]="grille.mark_ind_row[i] ? 'completed' : 'to-complete'"  *ngFor="let ind of grille.ind_row[i];let j=index">
          {{ind}}
      </td>
      
      <td class="case {{ 'case-'+picrossCase.getState() }}" [ngClass]="{'border-right-5' : (j+1)%5 == 0, 'border-bottom-5' : (i+1)%5 == 0 }" *ngFor="let picrossCase of picrossRow; let j=index" (mouseover)="clicked && picrossCase.changeState();clicked && changeIndice(i,j)" (mousedown)="mouseDown($event, i, j, picrossCase)"  (contextmenu)="clicked=false;picrossCase.markState();changeIndice(i,j)">
        &nbsp;&nbsp;
      </td>
    </tr>
  </table>
</div>
<br/>

<div id='footer'>
  <div id='answer-module'>
    <button type=button class="btn btn-warning" (click)="show_answer()">{{ this.command_answer }}</button>

    <div class='grille {{answerState}}' [ngClass]="{'grayed' : !try }">
      <table>
        <tr class='row_p' *ngFor="let picrossRow of grille.solution; let i=index">
          <td class="case {{ 'case-'+picrossCase.getState() }}" [ngClass]="{'border-right-5' : (j+1)%5 == 0, 'border-bottom-5' : (i+1)%5 == 0 }" *ngFor="let picrossCase of picrossRow; let j=index" >
            &nbsp;&nbsp;
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id='win-message'>
    <button [disabled]="!try" class="btn btn-primary" (click)="verif()">
      Vérification
    </button>
    <div class="" [ngClass]="message ==''? '' : message == 'Gagné !'? 'alert-success' : 'alert-danger'">{{message}}</div>
  </div>
  <div class="indic-result" *ngFor="let i of nb_error"  [ngClass]="i == 0 ? 'empty' : 'error'"></div>
</div>