<div class="row">
  <div class="col"></div>
<div id="main-grid" class='grille col-md-auto' (mouseup)="clicked=false" (mouseleave)="clicked=false">
    <div class='indCol'>
      <div class='indCol_case' [ngClass]="{ 'indiceVisual' : visualIndiceCol[c] }"  *ngFor="let indCol of gridState.grille.indCol; let c=index;">
        <div [ngClass]="gridState.grille.markIndCol[c] ? 'completed' : 'to-complete' " *ngFor="let ind of indCol">
          {{ind}}
        </div>
      </div>
    </div>
  
  <table  >
    <tr class='row_p' *ngFor="let picrossRow of gridState.grille.played; let i=index">
      <td class='indRow' [ngClass]="{'completed' : gridState.grille.markIndRow[i], 'to-complete' : !gridState.grille.markIndRow[i], 'indiceVisual' : visualIndiceRow[i]}"  *ngFor="let ind of gridState.grille.indRow[i];let j=index">
          {{ind}}
      </td>
      <td class='indRow' [ngClass]="{'indiceVisual' : visualIndiceRow[i]}"  *ngIf="gridState.grille.indRow[i].length < gridState.grille.maxIndRow">
        &nbsp;&nbsp;
      </td>
      <td class="case {{ 'case-'+picrossCase.getState() }}" [ngClass]="{'border-right-5' : (j+1)%5 == 0, 'border-bottom-5' : (i+1)%5 == 0 }" *ngFor="let picrossCase of picrossRow; let j=index" (mouseenter)="addVisualIndice(j, i)" (mouseleave)="deleteVisualIndice(j, i)" (mouseover)="clicked && picrossCase.changeState();clicked && changeIndice(i,j)" (mousedown)="mouseDown($event, i, j, picrossCase)"  (contextmenu)="clicked=false;picrossCase.markState();changeIndice(i,j)">
        &nbsp;&nbsp;
      </td>
    </tr>
  </table>
</div>
<div class="col"></div>
</div>